@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
  --secondary-bg-color: #A729F5;
  --options-bg-color: #F4F6FA;
  --options-color: #626C7F;
}

html[data-theme="light"] {
  --background-color: #F4F6FA;
  --text-color: #313E51;
  --secondary-text-color: #626C7F;
  --button-background: #FFFFFF;
  --bg-image: url("/public/images/pattern-background-mobile-light.svg");
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

html[data-theme="dark"] {
  --background-color: #313E51;
  --text-color: #FFFFFF;
  --secondary-text-color: #F4F6FA;
  --button-background: #3B4D66;
  --bg-image: url("/public/images/pattern-background-mobile-dark.svg");
   --box-shadow: unset;
}

*{
  font-family: 'Rubik', sans-serif;
  color: var(--text-color);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  padding: 40px 20px;
  background-color: var(--background-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-color 0.3s ease, background-image 0.3s ease, color 0.3s ease;
}

@media  (min-width: 768px) {
  html[data-theme="light"] {
    --bg-image: url("/public/images/pattern-background-tablet-light.svg");
  }

  html[data-theme="dark"] {
    --bg-image: url("/public/images/pattern-background-tablet-dark.svg");
  }

  body{
    padding: 50px 90px;
  }
}

@media (min-width: 1024px) {
   html[data-theme="light"] {
    --bg-image: url("/public/images/pattern-background-desktop-light.svg");
  }

  html[data-theme="dark"] {
    --bg-image: url("/public/images/pattern-background-desktop-dark.svg");
  }
     body{
    padding: 30px 140px 30px;
  }
}

@media (min-width: 1400px) {
     body{
    padding: 75px 90px;
  }
}
